body {
    background-color: aliceblue;
}

#datetime-info{
    position: fixed;
    padding: 2px;
    background-color: #333;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

.navbar-button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-button:hover {
    background-color: #555;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#bus-departures, #train-departures {
    width: 45%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}